header {
    background-color: rgb(244, 243, 243);
    padding: 30px 250px;
    box-sizing: border-box;
}

.top-nav {
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    margin: auto;
    max-width: 1200px; 
}
.nav-mainTitle{
    font-size: large;
    cursor: pointer;
    color: #61abf9;
    margin: auto;
}
.nav-ourSensor{
    
    font-size: medium;
    margin: auto;
    margin-right: 5%;
    margin-left: 50%;
    cursor: pointer;
}
.nav-maps{
    
    font-size: medium;
    margin: auto;
    margin-right: 5%;
    cursor: pointer;
}

#loginButton{
    background-color: #61abf9;
    color: white;
    margin: auto;
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
}
.title-Sentence{
    text-align: center;
    margin-top: 100px;
}

#shopButton{
    display: flex;
    background-color: #61abf9;
    color: white;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
}